@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {

  --bg-color1: #f8eded;
  --snd-bg-color1: #76ABAE;
  --text-color1: #222831;
  --main-color1: #31363F;
  
  --text-color: #f8eded;

  --duration: 1.5s;
	--container-size: 250px;
	--box-size: 33px;
	--box-border-radius: 15%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color1);
  color: var(--text-color1);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--text-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
  color: var(--snd-bg-color1);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--snd-bg-color1);
}

.home-content h1,
.home-content h2 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-color1);
}

.home-content p {
  color: var(--text-color1);
}

.home-img img {
  width: 25vw;
  /*animation: floatImage 4s ease-in-out infinite;*/
}
/* @keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
} */

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color1);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color1);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--snd-bg-color1);
  color: var(--text-color1);
  box-shadow: 0 0 1rem var(--snd-bg-color1);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--text-color1);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color1);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.btn1 {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--bg-color1);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--text-color1);
  font-size: 1.6rem;
  color: var(--text-color1);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--main-color1);
  color: var(--text-color);
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*SERVICES CSS*/

.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--snd-bg-color1);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.5rem solid var(--bg-color1);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--text-color1);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--text-color1);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/*PROJECTS CSS*/

.projects {
  background: var(--main-color1);
  color: var(--text-color);
}

.projects h2 {
  margin-bottom: 10rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--text-color1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Set a fixed height for the boxes */
}

.portfolio-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire box */
  transition: transform .5s ease, opacity .5s ease;
  opacity: 0.7;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0, 0.1), var(--text-color1));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: transform .5s ease;
  flex-direction: column;
  text-align: center;
}


.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
  margin-bottom: 1rem; /* Add space below h4 */
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color1);
  border-radius: 50%;
}

.portfolio-layer i {
  font-size: 2rem;
  color: var(--text-color);
}


/*CONTACT CSS*/

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--main-color1);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.contact {
  background: var(--bg-color1);
}

/*FOOTER CSS*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--text-color1);
  color: var(--text-color);
}

.footer-text {
  font-size: 1.6rem;
}

.footer-iconTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex; /* Ensure flexbox for centering */
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: var(--snd-bg-color1);
  border-radius: 0.8rem;
  transition: 0.5s ease;
  z-index: 100;
  text-decoration: none; /* Remove underline from link */
}

.footer-iconTop:hover {
  box-shadow: 0 0 1rem var(--text-color1);
}

.footer-iconTop i {
  font-size: 2.4rem;
  color: var(--bg-color1);
}

/*LOADER CSS*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000; /* ensure it's on top of everything */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color1);
  transition: opacity 0.5s;
}

.loader.show {
  opacity: 1;
}

/* Add this to hide the main content initially */
.main-content {
  opacity: 0;
  transition: opacity 0.5s;
}

.loaded {
  .main-content {
    opacity: 1;
  }
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  position: relative;
  display: block;
  transform-origin: -50% center;
  border-radius: var(--box-border-radius);
  margin: 1rem;
}

.box::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--text-color);
  border-radius: var(--box-border-radius);
  box-shadow: 0px 0px 20px 0px var(--main-color1);
}

.box:nth-child(1) {
  animation: slide var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(1)::after {
  animation: color-change var(--duration) ease-in-out infinite alternate;
  background-color: var(--text-color);
}

.box:nth-child(2) {
  animation: flip-1 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(2)::after {
  animation: squidge-1 var(--duration) ease-in-out infinite alternate;
  background-color: var(--text-color);
}

.box:nth-child(3) {
  animation: flip-2 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(3)::after {
  animation: squidge-2 var(--duration) ease-in-out infinite alternate;
  background-color: var(--text-color);
}

.box:nth-child(4) {
  animation: flip-3 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(4)::after {
  animation: squidge-3 var(--duration) ease-in-out infinite alternate;
  background-color: var(--text-color);
}

.box:nth-child(5) {
  animation: flip-4 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(5)::after {
  animation: squidge-4 var(--duration) ease-in-out infinite alternate;
  background-color: var(--text-color);
}

@keyframes slide {
  0% {
    background-color: var(--text-color);
    transform: translateX(0vw);
  }
  100% {
    background-color: var(--text-color);
    transform: translateX(calc(var(--container-size) - (var(--box-size) * 1.25)));
  }
}

@keyframes color-change {
  0% {
    background-color: var(--text-color);
  }
  100% {
    background-color: var(--text-color);
  }
}

@keyframes flip-1 {
  0%, 15% {
    transform: rotate(0);
  }
  35%, 100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-1 {
  5% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  15% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  25%, 30% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  50%, 100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
  40% {
    transform-origin: center top;
    transform: scaleX(1.3) scaleY(0.7);
  }
}

@keyframes flip-2 {
  0%, 30% {
    transform: rotate(0);
  }
  50%, 100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-2 {
  20% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  35% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  45%, 50% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  70%, 100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes flip-3 {
  0%, 45% {
    transform: rotate(0);
  }
  65%, 100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-3 {
  30% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  45% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  55%, 60% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  80%, 100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform-origin: center top;
    transform: scaleX(1.3) scaleY(0.7);
  }
}

@keyframes flip-4 {
  0%, 60% {
    transform: rotate(0);
  }
  80%, 100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-4 {
  40% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  55% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  65%, 70% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  90%, 100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
  80% {
    transform-origin: center top;
    transform: scaleX(1.3) scaleY(0.7);
  }
}

/* MEDIA QUERY*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3%;
  }

  .services {
    padding: 7rem;
  }

  .projects {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (min-width: 769px) {
  .navbar {
    display: block !important; /* Ensure the navbar is visible on larger screens */
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--text-color1);
    border-top: .1rem solid rgba(0,0,0, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, 0.2);
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .navbar.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .home-content {
    order: 2;
  }

  .about {
    flex-direction: column;
  }

  .about-img img {
    width: 90vw;
    margin-top:  4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .projects h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }


}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .home-img img {
    width: 80vw;
    margin-top: 8rem;
  }

  .about-img img {
    width: 100vw;
    margin-top: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}